	:root {
		font-size: 62.5%;
		font-family: 'Rajdhani', sans-serif;
		box-sizing: border-box;
	}

	* {
		margin: 0;
		padding: 0;
		list-style: none;
		vertical-align: baseline;
		text-decoration: none;
		box-sizing: border-box
	}
	/*alinhando conteudo*/

	.center {
		max-width: 1140px;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}

	.secao-destaque {
		width: 100%;
		height: 520px;
		position: absolute;
		z-index: -1;
		background: black;
	}

	.secao-destaque:after {
		transform: skewY(14deg);
		content: '';
		min-height: 500px;
		width: 100%;
		position: absolute;
		background-color: black;
		top: 280px;
		z-index: -1;
	}

	header {
		height: 200px;
		background-color: black;
		width: 100%;
	}

	nav a {
		color: aliceblue;
	}

	.secao-ativar {
		min-height: 900px;
		height: auto;
		position: absolute;
		width: 100%;
		top: 900px;
	}

	.secao-app {
		background: #cdd43d;
		min-height: 500px;
		width: 100%;
		position: absolute;
		top: 1800px;
	}

	.secao-app:before {
		transform: skewY(-3deg);
		content: '';
		min-height: 150px;
		width: 100%;
		position: absolute;
		background-color: #cdd43d;
		top: -65px;
	}

	.secao-app:after {
		transform: skewY(12deg);
		content: '';
		min-height: 500px;
		width: 100%;
		position: absolute;
		background-color: #cdd43d;
		bottom: -202px;
	}

	.secao-parceiros {
		min-height: 900px;
		height: auto;
		position: absolute;
		width: 100%;
		top: 2200px;
	}

	footer {
		min-height: 200px;
		height: auto;
		width: 100%;
		position: absolute;
		top: 3100px;
		background-color: black;
	}
	/*estilo header*/

	#cabecalho .conteudo {
		display: flex;
		flex-direction: row;
		padding-top: 4rem;
		padding-bottom: 5rem;
	}
	/*logotipo*/

	#cabecalho .conteudo .logo {
		flex: 1 auto;
	}

	@media (max-width: 769px) {}

	#cabecalho .conteudo .logo img {
		max-width: 180px;
		width: 100%;
	}
	/*nav*/

	#cabecalho .conteudo .menu {
		margin-top: 4rem;
		flex: 0 auto;
		position: relative;
		right: 40px;
	}

	#cabecalho .conteudo .menu a {
		font-weight: 500;
		color: #c5c5c5;
		text-transform: uppercase;
	}

	#cabecalho .conteudo .menu .btn,
	#cabecalho .conteudo .menu span {
		display: inline-block;
	}

	#cabecalho .conteudo .menu .btn {
		margin-left: 3rem;
		border: 2px solid #c5c5c5;
		border-radius: 5px;
		transform: skewX(-30deg);
	}

	#cabecalho .conteudo .menu span {
		transform: skewX(30deg);
		text-transform: uppercase;
		padding: 1rem 3rem;
	}

	#cabecalho .conteudo .menu a {
		font-size: 1.6rem;
	}

	#cabecalho .conteudo .menu .btn:hover {
		background: #c9d32b;
		border-color: #c9d32b;
		color: #181818;
	}
	/*CONTEUDO DISPLAY FLEX - GRID*/

	.conteudo {
		display: flex;
		flex-direction: row;
		width: 100%;
		min-height: 50vh;
		height: auto;
	}

	@media (max-width:769px) {
		.conteudo {
			flex-direction: column;
		}
	}

	.left {
		flex: 1 50vw;
	}

	.right {
		flex: 1 50vw;
	}

	.largura {
		max-width: 550px;
	}
	/*secao destaque
.bg-luz{
	background: url(../images/bg_section_1.png) no-repeat center center;
	background-blend-mode: multiply;
	max-width: 900px;
}*/

	.secao-destaque .right h1 {
		font-size: 5rem;
		font-weight: 800;
		line-height: 5rem;
		color: #cad12c;
		text-align: center;
		margin-bottom: 1em;
	}

	.secao-destaque .right h2 {
		font-size: 3rem;
		font-weight: 500;
		line-height: 2rem;
		color: #fff;
		text-align: center;
		margin: 5rem 0;
	}

	.secao-destaque .right .item {
		color: #fff;
		position: relative;
		padding-bottom: 1.8rem;
		font-size: 18px;
		padding-left: 25px;
	}

	.secao-destaque .right .item:before {
		content: '';
		width: 20px;
		height: 20px;
		background: url('../images/icon-topico.png') no-repeat;
		position: absolute;
		left: 0;
		top: 5px;
	}

	.secao-destaque .right .lista-vantagens {
		display: flex;
		flex-direction: row;
		margin-top: 2rem;
	}

@media(max-width:769px){
	.secao-destaque .right .lista-vantagens{
		flex-direction: column;
		max-width: 300px;
		margin: 0 auto;
	}
}

	.secao-destaque .right .lista-vantagens-left {
		display: flex;
		flex-direction: column;
	}

	.secao-destaque .right .lista-vantagens-right {
		display: flex;
		flex-direction: column;
	}

	.secao-destaque .left img {
		max-width: 1000px;
		width: 100%;
	}

	.secao-destaque .right img {
		max-width: 440px;
		width: 100%;
		margin: 0 auto;
		display: flex;
	}
