@media(max-width:1281px) {
	/*alinhando img secao destaque on desktop*/
	.secao-destaque .left img {
		position: relative;
		left: -1rem;
	}
}
/*setando altura das secoes para altura <=1024*/
/* @media(max-height:768px){
	.secao-app {
		top: 1900px;
	}
	.secao-parceiros {
		top: 2280px;
	}
	footer {
		top: 3200px;
	}
} */
@media (max-width: 769px) {
	/*acompanhar altura confome nav*/
	header {
		height: auto;
	}
	/*transformando em uma coluna só*/
	#cabecalho .conteudo {
		flex-direction: column;
	}
	/*classe do grid, espacamento*/
	.right {
		margin: 1rem 4rem;
	}
	/*alinhando imagem ao centro*/
	#cabecalho .conteudo .logo {
		margin: 0 auto;
	}
	/*descentralizando itens do menu*/
	#cabecalho .conteudo .menu {
		right: 0;
	}
	/*colocando menu em colunas*/
	#cabecalho .conteudo .menu {
		display: flex;
		flex-direction: column;
	}
	/*estilo botoes nav*/
	#cabecalho .conteudo .menu a,
	#cabecalho .conteudo .menu .btn {
		margin: 1rem 3rem;
		text-align: center;
	}
	.secao-ativar .left h1 {
		max-width: 100%;
		text-align: center;
		margin-top: 2rem;
	}
	/*afastando conteudo do topo em 768*/
	.secao-ativar .conteudo {
		top: 16rem;
	}
	/*ajustando altura secao destaque <769*/
	.secao-destaque {
		height: 1000px;
	}
	.secao-destaque:after {
		top: 900px;
	}
	.largura {
		max-width: 650px;
	}
	/*alocando a secao para baixo*/
	.secao-ativar {
		top: 1800px;
	}
	/*secao app, transportando sua posicao para alocar a secao ativar*/
	.secao-app {
		top: 3220px;
	}
	/*subindo a div after*/
	.secao-app::after {
		bottom: -90px;
	}
	/*afastando secao parceiros da secao app*/
	.secao-parceiros {
		top: 3280px;
	}
	footer {
		top: 3100px;
	}
	/*secao app, sumir com img do celular*/
	.secao-app .left {
		display: none
	}
	/*posicionando imagens de onde baixar o app*/
	.onde-baixar a {
		left: 10rem;
	}
	.onde-baixar h1 {
		margin-bottom: 1em;
	}
	.onde-baixar img:first-child {
		margin-bottom: 1rem
	}
}
@media (max-width:400px) {
	.secao-ativar {
		top: 1600px;
	}
	/*secao app, transportando sua posicao para alocar a secao ativar*/
	.secao-app {
		top: 2900px;
	}
	/*subindo a div after*/
	.secao-app::after {
		bottom: -90px;
	}
	/*afastando secao parceiros da secao app*/
	.secao-parceiros {
		top: 3080px;
	}
	footer {
		top: 2880px;
	}
	/*posicionando imagens de onde baixar o app*/
	.onde-baixar a {
		left: 4rem;
	}
	.icone-lista-1:before,
	.icone-lista-2:before,
	.icone-lista-3:before {
		display: none
	}
	.icone-lista-1,
	.icone-lista-2,
	.icone-lista-3 {
		padding-left: 1rem
	}
	/*tamanho dos botoes de download*/
	.onde-baixar img {
		max-width: 160px;
	}
}
@media(min-width:769px) {
	/*alinhando img secao destaque on desktop*/
	.secao-destaque .left img {
		position: relative;
		left: -8rem;
		top: 4rem;
	}
	/*espacando conteudo do nav*/
	.secao-destaque .left,
	.secao-destaque .right {
		margin-top: 6rem;
	}
	/*espacamento entre a lista da direita*/
	.secao-destaque .right .lista-vantagens-left {
		margin-right: 6rem;
	}
	/*tamanho para texto quebrar*/
	.secao-destaque .right .lista-vantagens-right {
		max-width: 45%;
	}
	/*alinhando textoao centro do conteudo*/
	.secao-right .right h1 {
		max-width: 80%;
	}
	.secao-right .right h2 {
		max-width: 60%
	}
	/*secao ativar*/
	/*espacamento do conteudo*/
	.secao-ativar {
		padding-top: 13rem;
		padding-left: 38rem;
	}
	/*centralizando itens da secao app*/
	.largura {
		max-width: 550px;
		position: relative;
		right: 5em;
	}
	/*BACKGROUND PLUS*/
	.bg-plus-ativar {
		background-image: url(../images/bg-plus.png);
		background-repeat: no-repeat;
		background-position: 100% -14%;
	}
	.bg-plus-app {
		background-image: url(../images/bg-plus.png);
		background-repeat: no-repeat;
		background-position: 100% 79%;
	}
}
/*telas maiores q 768 porem menores q 1440*/
@media(min-width: 770px) and (max-width:1440px) {
	/*secao ativar*/
	/*espacamento do conteudo*/
	.secao-ativar {
		padding-top: 13rem;
		padding-left: 5rem;
	}
}
@media (max-width:560px) {
	/*ajustando altura secao destaque <769*/
	.secao-destaque:after {
		top: 750px;
	}
	.largura {
		max-width: 550px;
	}
	#cabecalho .conteudo .menu a,
	#cabecalho .conteudo .menu .btn {
		margin: 1rem 3rem;
		text-align: center;
	}
}
/*IPAD LANDSCAPE*/
@media only screen and(min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.celular {
		left: 12em;
	}
	.secao-ativar {
		padding-top: 7rem;
	}
	/*tamanho dos botoes de download*/
	.onde-baixar img {
		max-width: 160px;
	}
}
/*MACBOOK*/
@media only screen and (min-device-width: 1140px) and (max-device-width: 1280px) and (orientation: landscape) {
	.celular {
		left: 15em;
	}
}
@media only screen and(min-device-width: 1140px) and (max-device-width: 1281px) {
	.celular {
		left: 15em;
	}
}
@media(max-width: 1441px) {
	/*secao app, espacando celular do conteudo*/
	.celular {
		left: 30em;
	}
}
@media(max-width: 1280px) {
	/*secao app, espacando celular do conteudo*/
	.celular {
		left: 20em;
	}
}
@media(min-width: 1450px) {
	/*secao app, espacando celular do conteudo*/
	.celular {
		left: 55em;
	}
}
