@media(max-width:1281px) {
	/*alinhando img secao destaque on desktop*/
	.secao-destaque .left img {
		position: relative;
		left: -1rem;
	}
}
/*setando altura das secoes para altura <=1024*/
/* @media(max-height:768px){
	.secao-app {
		top: 1900px;
	}
	.secao-parceiros {
		top: 2280px;
	}
	footer {
		top: 3200px;
	}
} */
@media (max-width: 769px) {
	/*acompanhar altura confome nav*/
	header {
		height: auto;
	}
	/*transformando em uma coluna só*/
	#cabecalho .conteudo {
		flex-direction: column;
	}
	/*classe do grid, espacamento*/
	.right {
		margin: 1rem 4rem;
	}
	/*alinhando imagem ao centro*/
	#cabecalho .conteudo .logo {
		margin: 0 auto;
	}
	/*descentralizando itens do menu*/
	#cabecalho .conteudo .menu {
		right: 0;
	}
	/*colocando menu em colunas*/
	#cabecalho .conteudo .menu {
		display: flex;
		flex-direction: column;
	}
	/*estilo botoes nav*/
	#cabecalho .conteudo .menu a,
	#cabecalho .conteudo .menu .btn {
		margin: 1rem 3rem;
		text-align: center;
	}
	.secao-ativar .left h1 {
		max-width: 100%;
		text-align: center;
		margin-top: 2rem;
	}
	/*afastando conteudo do topo em 768*/
	.secao-ativar .conteudo {
		top: 16rem;
	}
	/*ajustando altura secao destaque <769*/
	.secao-destaque {
		height: 1000px;
	}
	.secao-destaque:after {
		top: 900px;
	}
	.largura {
		max-width: 650px;
	}
	/*alocando a secao para baixo*/
	.secao-ativar {
		top: 1800px;
	}
	/*secao app, transportando sua posicao para alocar a secao ativar*/
	.secao-app {
		top: 3100px;
	}
	.secao-parceiros {
		top: 3280px;
	}
	footer {
		top: 4100px;
	}
}

@media(min-width:769px) {
	/*alinhando img secao destaque on desktop*/
	.secao-destaque .left img {
		position: relative;
		left: -8rem;
		top: 4rem;
	}
	/*espacando conteudo do nav*/
	.secao-destaque .left,
	.secao-destaque .right {
		margin-top: 6rem;
	}
	/*espacamento entre a lista da direita*/
	.secao-destaque .right .lista-vantagens-left {
		margin-right: 6rem;
	}
	/*tamanho para texto quebrar*/
	.secao-destaque .right .lista-vantagens-right {
		max-width: 45%;
	}
	/*alinhando textoao centro do conteudo*/
	.secao-right .right h1 {
		max-width: 80%;
	}
	.secao-right .right h2 {
		max-width: 60%
	}
	/*secao ativar*/
	/*espacamento do conteudo*/
	.secao-ativar {
		padding-top: 13rem;
		padding-left: 20rem;
	}
}
/*telas maiores q 768 porem menores q 1440*/
@media(min-width: 770px) and (max-width:1440px) {
/*secao ativar*/
	/*espacamento do conteudo*/
	.secao-ativar {
		padding-top: 13rem;
		padding-left: 5rem;
	}
}
@media (max-width:560px) {
	/*ajustando altura secao destaque <769*/
	.secao-destaque:after {
		top: 750px;
	}
	.largura {
		max-width: 550px;
	}
	#cabecalho .conteudo .menu a,
	#cabecalho .conteudo .menu .btn {
		margin: 1rem 3rem;
		text-align: center;
	}
}
